<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if .IsHome }}
   <title>{{ .Site.Title }}</title>
  {{ else }}
   <title>{{ .Site.Title }} - {{ .Title }}</title>
  {{ end }}
 </head>
 <body>
  <div align="center">
   <h1>{{ .Site.Title }}</h1>
   <hr>
   <h2>{{ .Site.Params.tagline }}</h2>
   <p>
   <a href="{{ .Site.BaseURL }}">Home</a> | 
<a href="{{ .Site.BaseURL }}/tags/">Tags</a> | 
<a href="{{ .Site.BaseURL }}/post/">Archive</a> | 
<a href="{{ .Site.BaseURL }}/about/">About</a> | 
<a href="{{ .Site.BaseURL }}/licenses/">Licenses</a> | 
<a href="{{ .Site.RSSLink }}">Site RSS</a>
  </div>
  <hr>
